Repository hmcts/darts-stub-services, pull requests merged in 2024-02, with the labels that each got.

#73 DMP-2151 Update postman collection: GET /api/v1/token
  darts-stub-services.postman_collection.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-stub-services-pr-73

#82 DMP-2223 Added __files to docker
  Dockerfile
  wiremock/mappings/arm/v1_DownloadBlob.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-stub-services-pr-82

#84 DMP-1845: Forcing http 1.1
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/darts/stub/services/controllers/WiremockRequestForwardingController.java
  wiremock/mappings/arm/v3_UpdateMetadata.json
  wiremock/mappings/arm/v3_UpdateMetadata_alt1.json
  wiremock/mappings/dar/dar_mapping.json
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-stub-services-pr-84

#90 DMP-2388 Changed validation year
  darts-stub-services.postman_collection.json
  wiremock/mappings/arm/v3_UpdateMetadata.json
  wiremock/mappings/arm/v3_UpdateMetadata_alt1.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-stub-services-pr-90
