Repository hmcts/darts-stub-services, pull requests merged in 2024-01, with the labels that each got.

#62 DMP-1845 Add wiremock OK response for ARM Disposition: /api/v3/UpdateMetadata
  .github/workflows/ci.yml
  build.gradle
  wiremock/mappings/arm/v3_UpdateMetadata.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-stub-services-pr-62

#64 DMP-1845 Add Request Matching for ARM Disposition: /api/v3/UpdateMetadata
  build.gradle
  src/main/java/uk/gov/hmcts/darts/stub/services/config/WireMockServerConfig.java
  wiremock/mappings/arm/v3_UpdateMetadata.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-stub-services-pr-64

#63 Dmp 1844 arm stub download blob
  src/main/java/uk/gov/hmcts/darts/stub/services/config/WireMockServerConfig.java
  src/main/java/uk/gov/hmcts/darts/stub/services/controllers/WiremockRequestForwardingController.java
  wiremock/__files/download_blob_test.mp2
  wiremock/mappings/arm/v1_DownloadBlob.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-stub-services-pr-63

#71 DMP-2151: Add ARM token stub
  src/main/java/uk/gov/hmcts/darts/stub/services/controllers/WiremockRequestForwardingController.java
  wiremock/mappings/arm/v1_token.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-stub-services-pr-71

#74 DMP-1911 changed downloadBlob content type to octet-stream to suppor…
  wiremock/mappings/arm/v1_DownloadBlob.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-stub-services-pr-74
